<div class="stepper-container">
  <div class="step" *ngFor="let step of stepsArr; let i = index;"
       [ngClass]="{'step--active': i === activeStep, 'step--done': i < activeStep}"
  >

    <div class="indicator">
      <div class="indicator__pre-line"></div>
      <div class="indicator__post-line"></div>
      <div class="indicator__dot"></div>
    </div>
    <div class="content" *ngIf="activeStep === i">
      <ng-content></ng-content>
    </div>

  </div>
</div>
