$indicator-height: 2em;
$indicator-min-width: $indicator-height;
$dot-default-size: 0.7em;
$dot-active-size: 1.5em;
$line-height: 0.1em;

$dot-active-color: #1976d2;
$dot-done-color: #199BF9;
$line-done-color: #199BF9;
$inactive-color: #bcbcbc;

.step {
  flex: 1 1 100%;
  .indicator {
    height: $indicator-height;
    min-width: $indicator-min-width;
    width: 100%;

    position: relative;

    &__dot {
      height: $dot-default-size;
      width: $dot-default-size;
      border-radius: 100%;
      background-color: $inactive-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &__pre-line {
      height: $line-height;
      width: 50%;
      background-color: $inactive-color;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &__post-line {
      height: $line-height;
      width: 50%;
      background-color: $inactive-color;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }


  }

  &.step--active{
    .indicator__dot {
      background-color: $dot-active-color;
      height: $dot-active-size;
      width: $dot-active-size;
    }

    .indicator__pre-line {
      background-color: $line-done-color;
    }
  }

  &.step--done{
    .indicator__dot {
      background-color: $dot-done-color;
    }

    .indicator__pre-line, .indicator__post-line {
      background-color: $line-done-color;
    }
  }
}

.stepper-container {
  display: flex;
  flex-direction: row;

  .step:first-of-type {
    .indicator__pre-line {
      display: none;
    }
  }

  .step:last-of-type {
    .indicator__post-line {
      display: none;
    }
  }

}
