<!--
<div *ngFor="let option of multipleSelectModel.mappedOptions">
  <div>{{option.obj.name}}</div>
  <div *ngFor="let option of option.children">
    <div>{{option.obj.name}}</div>
  </div>
</div>
-->

<div *ngFor="let option of multipleSelectModel.mappedOptions">
  <ng-container *ngTemplateOutlet="groupTemplate; context: {option: option}"></ng-container>
</div>

<ng-template #groupTemplate let-option="option">

  <div (click)="onOptionClick(option)" style="padding: 0.5rem 1rem; margin: 0.5rem 0;" [style.background-color]="option.isSelected ? 'orange' : 'white'">{{option.obj.name}}</div>
  <div style="margin-left: 1rem;" *ngFor="let option of option.children">
    <ng-container *ngIf="option.isGroup">
      <ng-container *ngTemplateOutlet="groupTemplate; context: {option: option}"></ng-container>
    </ng-container>
    <ng-container *ngIf="!option.isGroup">
      <div (click)="onOptionClick(option)" style="padding: 0.5rem 1rem; margin: 0.5rem 0;" [style.background-color]="option.isSelected ? 'orange' : 'white'">{{option.obj.name}}</div>
    </ng-container>
  </div>

</ng-template>
